<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322091920984-neqaqv51v49l5ljt4s6oi5pd317rgvh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322091920984-neqaqv51v49l5ljt4s6oi5pd317rgvh4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>322091920984-tkn6jg309qur3dl22u3i7r9afet1v4cs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCm1Vum_Jrs8p_fWBU26XODPxvD3Y00-HI</string>
	<key>GCM_SENDER_ID</key>
	<string>322091920984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myyear.myyearmystory</string>
	<key>PROJECT_ID</key>
	<string>myyearmystory</string>
	<key>STORAGE_BUCKET</key>
	<string>myyearmystory.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322091920984:ios:b7d668a8a85d5955b5242d</string>
</dict>
</plist>